.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .header-title {
    font-size: 36px;
    margin: 0;
    font: italic;
    margin-bottom: 10px;
  }
  
  .header-description {
    font-size: 1.2rem;
    margin-top: 0;
  }